.box {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 $s-size;
    position: relative;
    transition: all .3s linear;

    &--top {
        background-color: $color-secondary;
        border-top: 2px solid $color-primary;
        color: $color-grey-dark-2;
        flex: 0 1 25%;
        align-self: stretch;
        text-align: center;
        justify-content: flex-start;

        &:not(:last-child) {
            margin-right: 4px;
        }

        &::before {
            content: '';
            position: absolute;
            background-color: $color-primary;
            border-radius: 50%;
            width: $l-size;
            height: $l-size;
            top: 0;
            left: 50%;
            transform: translate(-50%, -50%);
        }

        &:hover {
            box-shadow: 0 0 $l-size rgba($color-black, .26);
            transform: scale(1.15);
            color: $color-primary;
            z-index: 1;
        }
    }

    &--middle-left {
        border-top: 1px solid $color-primary;
        flex: 0 0 33.3333%;
        background-color: $color-secondary;
        color: $color-grey-dark-2;
        text-align: left;

        &::after {
            content: '';
            background-color: $color-secondary;
            border-left: 1px solid $color-primary;
            border-top: 1px solid $color-primary;
            position: absolute;
            width: $s-size;
            height: $s-size;
            top: 0;
            left: 50%;
            transform: translate(-50%, -50%) rotate(45deg);
        }

        &:first-child {
            margin: 0 33.3333%;
            border: none;
            border-right: 1px solid $color-primary;

            &::after {
                left: 100%;
                top: 50%;
                border-left: none;
                border-right: 1px solid $color-primary;
            }

            & > p {
                @include textOverflow(5);
            }
        }

        &:last-child {
            margin-left: auto;
            border: none;
            border-left: 1px solid $color-primary;

            &::after {
                left: 0;
                top: 50%;
                border-left: 1px solid $color-primary;
                border-bottom: 1px solid $color-primary;
                border-top: none;
            }
        }
    }

    &--bottom {
        display: block;
        border-radius: $xs-size;
        background-color: $color-secondary;
        box-shadow: 0 0 .1rem rgba($color-black, .26);
        border: 1px solid rgba($color-black, .26);
        color: $color-grey-dark-2;
        padding: $s-size;
        position: relative;
        width: 80%;
        margin: $l-size auto;

        &::after {
            content: '';
            background-color: $color-grey-light-2;
            width: $s-size/2;
            height: $s-size/2;
            position: absolute;
            top: 50%;
            z-index: -1;
        }

        &::before {
            position: absolute;
            border-radius: 50%;
            background-color: $color-secondary;
            border: 1px solid rgba($color-black, .26);
            line-height: 1;
            height: $s-size * 2 + $font-size-l;
            width: $s-size * 2 + $font-size-l;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: $font-size-l;
            top: 50%;
            text-align: center;

        }

        &--left {
            margin-top: 16em;
            margin-right: $l-size * 1.5;
            text-align: right;

            &::after {
                left: 100%;
                transform: translate(-50%, -50%) rotate(45deg);
            } 

            &::before {
                content: "2000";
                right: -($l-size * 1.5); 
                transform: translate(50%, -50%);
            }
        }

        &--right {
            margin-left: $l-size * 1.5;

            &::after {
                right: 100%;
                transform: translate(50%, -50%) rotate(45deg);
            } 

            &::before {
                content: "1998";
                left: -($l-size * 1.5); 
                transform: translate(-50%, -50%);
            }
        }

    }
}