.box {
    display: flex;
    position: relative;
    transition: all .3s linear;

    &--top {
        flex-direction: column;
        align-items: center;
        background-color: $color-secondary;
        border-top: 2px solid $color-primary;
        color: $color-grey-dark-2;
        flex: 0 1 25%;
        align-self: stretch;
        margin: 0 2px;
        padding: 0 $s-size;
        text-align: center;
        justify-content: flex-start;

        &::before {
            content: '';
            position: absolute;
            background-color: $color-primary;
            border-radius: 50%;
            width: $l-size;
            height: $l-size;
            top: 0;
            left: 50%;
            transform: translate(-50%, -50%);
        }

        &:hover {
            box-shadow: 0 0 $l-size rgba($color-black, .26);
            transform: scale(1.15);
            color: $color-primary;
            z-index: 1;
        }
    }
}