.btn {
    border: none;
    overflow: hidden;
    transition: all .1s ease-in;
    text-transform: uppercase;
    line-height: 1;
    font-size: $font-size-xs;
    font-weight: bold;

    &--primary {
        background-color: $color-grey-light;
        border-radius: 3px;
        box-shadow: 0px 1px 0px #b30000;
        color: $color-btn;
        cursor: pointer;
        padding: $xs-size $m-size;
        transition: all .3s linear;

        &:hover {
            transform: translateY(-$xs-size);
            box-shadow: 0 .5rem 3rem rgba($color-black, .26);
        }

        &:active {
            outline: none;
            transform: translateY(-$xs-size/2);
            box-shadow: 0 .2rem 1rem rgba($color-black, .26);
        }

        &:focus {
            outline: none;
        }
    }

    &--secondary {
        background-image: linear-gradient(to bottom, $color-grey-light, $color-grey-light-2);
        border-radius: 3px;
        box-shadow: 0 0 rgba($color-black, .26);
        cursor: pointer;
        color: $color-grey-dark;
        padding: $s-size/2;
        margin-bottom: $s-size;
        max-height: $s-size + $font-size-xs;

        &__main {
            display: block;
            text-align: center;
            transition: all .3s linear;
        }

        &__hover {
            display: block;
            transform: translateY($l-size);
            opacity: 0;
            visibility: hidden;
            transition: all .3s linear;
        }

        &:hover {
            background-image: none;
            background-color: $color-primary;
            color: $color-secondary;
            padding: $s-size/2;
        }

        &:hover &__main {
            transform: translateY(-$l-size);
            opacity: 0;
            visibility: hidden;
        }

        &:hover &__hover {
            transform: translateY(-100%);
            opacity: 1;
            visibility: visible;
        }
    }
}