.btn {
    border: none;
    overflow: hidden;
    transition: all .1s ease-in;
    text-transform: uppercase;
    line-height: 1;
    font-size: $font-size-xs;
    font-weight: bold;

    &--primary {
        display: block;
        background-color: $color-secondary;
        border-radius: 3px;
        box-shadow: 0px -1px 0px $color-secondary;
        color: $color-btn;
        cursor: pointer;
        font-size: $font-size-s;
        height: $m-size;
        line-height: 1.4;
        width: $btn-width;
        padding: $xs-size;
        transition: all .3s ease-in;
        margin-right: auto;
        margin-bottom: $s-size;

        &:hover {
            background-image: linear-gradient(to bottom, $color-grey-light-2 10%, $color-secondary);
            box-shadow: 0px -1px 0px #cdcdcd;
        }

        &:active,
        &:focus {
            outline: none;
            background-image: linear-gradient(to bottom, $color-secondary 10%, $color-grey-light-2);
            box-shadow: 0px -1px 0px #cdcdcd;
        }
    }

    &--secondary {
        background-image: linear-gradient(to bottom, $color-grey-light, $color-grey-light-2);
        border-radius: 3px;
        box-shadow: 0 0 rgba($color-black, .26);
        cursor: pointer;
        color: $color-grey-dark;
        padding: $s-size/2;
        margin-bottom: $s-size;
        max-height: $s-size + $font-size-xs;

        &:hover {
            background-image: none;
            background-color: $color-primary;
            color: $color-secondary;
            padding: $s-size/2;
        }
    }

    &__main,
    &__hover {
        display: flex;
        align-items: center;
        justify-content: center;
    }


    &__main {
        transition: all .3s linear;
    }

    &__hover {
        transform: translateY($l-size);
        opacity: 0;
        visibility: hidden;
        transition: all .3s linear;
    }

    &:hover &__main {
        transform: translateY(-$l-size);
        opacity: 0;
        visibility: hidden;
    }

    &:hover &__hover {
        transform: translateY(-100%);
        opacity: 1;
        visibility: visible;
    }
}