.section {
    margin: 0 auto;
    margin-top: $l-size;

    @include respond(phone-port) {
        margin-top: $m-size;
    }

    &--top {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;

        @include respond(tab-land) {
            flex-wrap: wrap;
        }
    }

    &--middle {
        display: flex;
        @include respond(tab-land) {
            flex-direction: column;
        }

        &__left {
            display: flex;
            flex-wrap: wrap;
            background-color: $color-black;
            flex: 3;
            align-self: stretch;

            @include respond(phone-port) {
                background-color: transparent;
            }
        }

        &__right {
            background-color: $color-primary;
            color: $color-secondary;
            flex: 1;
            align-self: stretch;

            @include respond(tab-land) {
                order: -1;
            }
        }
    }

    &--bottom {
        display: flex;
        margin-top: $l-size;
        @include respond(tab-land) {
            flex-direction: column;
        }

        &__left,
        &__right {
            flex: 0 0 50%;
            align-self: stretch;
            position: relative;
        }

        &__left {
            border-right: 2px dotted $color-grey-light-2;
            height: auto;

            @include respond(tab-land) {
                margin-top: $s-size;
                order: 1;

                &::after {
                    content: '';
                    position: absolute;
                    background-color: transparent;
                    border-top: 2px dotted $color-grey-light-2;
                    border-right: 2px dotted $color-grey-light-2;
                    border-top-right-radius: $s-size;
                    width: $s-size;
                    height: $s-size;
                    top: -2px;
                    right: -2px;
                    transform: translateY(-100%);
                }
            }

            @include respond(phone-port) {
                border: none;
                border-top: 2px dotted $color-grey-light-2;

                &::after {
                    display: none;
                }
            }
        }

        &__right {

            @include respond(tab-land) {
                margin-right: $s-size;
                border-left: 2px dotted $color-grey-light-2;
                border-bottom: 2px dotted $color-grey-light-2;
                border-bottom-left-radius: $s-size;
            }

            @include respond(phone-port) {
                margin-right: 0;
                border: none;
                border-top: 2px dotted $color-grey-light-2;
            }
        }
    }
}