//colors
$color-primary: orangered;
$color-secondary: #f7f7f7;
$color-grey-light: #eee;
$color-grey-light-2: #ccc;
$color-grey-dark: #333;
$color-grey-dark-2: #555;
$color-black: #000;

//width
$bg-largest: 140rem;
$bg-large: 120rem;


//dimensions
$l-size: 4rem;
$m-size: 3rem;
$s-size: 2rem;

//font-size
$font-size-l: 1.9rem;
$font-size-m: 1.6rem;
$font-size-s: 1.2rem;
$font-size-xs: 1rem;