.heading-primary {
    font-size: $font-size-l;
    font-weight: 300;
    text-transform: uppercase;
    margin-bottom: $s-size;
    margin-top: $m-size;
}

.heading-secondary {
    font-size: $font-size-l;
    font-weight: 300;
    color: $color-black;
    margin-bottom: $xs-size;

    &::first-letter {
        text-transform: uppercase;
    }
}

.heading-tertiary {
    color: $color-black;
    font-size: $font-size-xs;
    font-weight: 600;
    margin-bottom: $s-size/2;
    text-transform: lowercase;
    width: 100%;
}

.text-primary {
    font-size: $font-size-xs;
    color: $color-grey-dark;
    margin-bottom: $s-size;
    @include textOverflow(3);
}

.text-secondary {
    font-size: $font-size-xs;
    color: inherit;
    margin-bottom: $s-size;
    @include textOverflow(12);
}

.text-tertiary {
    font-size: $font-size-m; 
    color: $color-grey-dark-2;
    line-height: 1;

    @include textOverflow(5);
}

.text-primary--long {
    @include textOverflow(5);
}