.heading-primary {
    box-shadow: 0px 1px 0px $color-secondary;
    font-size: $font-size-l;
    font-weight: 300;
    text-transform: uppercase;
    line-height: 1.1;
    margin-bottom: $s-size;
    margin-top: $m-size;
}

.heading-secondary {
    font-family: 'Raleway', sans-serif;
    font-size: $font-size-l;
    font-weight: 300;
    line-height: .7;
    color: $color-black;
    margin-bottom: $xs-size;

    &::first-letter {
        text-transform: uppercase;
    }
}

.heading-tertiary {
    color: $color-grey-dark-4;
    font-size: $font-size-s;
    font-weight: bold;
    line-height: 1.25;
    margin-bottom: $s-size/2;
    text-transform: lowercase;
    width: 100%;
}

.heading-sidebar {
    font-size: $font-size-xl;
    line-height: .9;
    margin: $m-size auto;
    text-align: left;
    text-transform: uppercase;
    width: 100%;
}

.text-primary {
    font-size: $font-size-s;
    line-height: 1.5;
    color: $color-grey-dark-4;
    margin-bottom: $s-size;
    @include textOverflow(3);
}

.text-secondary {
    font-size: $font-size-s;
    color: inherit;
    margin-bottom: $s-size;
    @include textOverflow(12);
}

.text-tertiary {
    font-family: 'Lato', sans-serif;
    font-size: $font-size-m; 
    color: $color-grey-dark-2;
    line-height: 1.15;

    @include textOverflow(5);
}

.text-primary--long {
    @include textOverflow(5);
}